<div class="event">
    <li>
    <%= link_to event.title, event_path(event) if avaliable_fights(event.fights, @current_user_bets).size > 0 %>

      <table>
      <%= form_tag(:controller => "bets", :action => "create") do -%>
          
        <%= hidden_field_tag(:user_id, @bet.user_id) %>
          <% avaliable_fights(event.fights, @current_user_bets).each do |fight| %>
          <tr>
            <td><%= fight.category  %> </td>
            <td><%= radio_button_tag(fight.id.to_s.to_sym, fight.contender) %><%= fight.contender %> </td>
            <td> VS </td>
            <td><%= radio_button_tag(fight.id.to_s.to_sym, fight.challenger) %><%= fight.challenger%> </td>
          </tr>
          <% end %>
          <tr>
            <td><%= submit_tag 'Apostar' if avaliable_fights(event.fights, @current_user_bets).size > 0 %> </td>
          </tr>
        <% end -%>
      </table>
    </li>
</div>
