<h1><%= @event.title %> 
    <%= @event.when.to_s%>
</h1>
<h3>Lutas Previstas</h3>

<table>
  <tr>
    <th>Categoria</th>
    <th>Red Corner</th>
    <th>   </th>
    <th>Blue Corner</th>
  </tr>
  <% @event.fights.each do |fight| %>
  <tr>
    <td><%= fight.category  %> </td>
    <td><%= fight.contender %> </td>
    <td> VS </td>
    <td><%= fight.challenger%> </td>
  </tr>
  <% end %>
</table>

<%= render :partial => "fight_form" %>
