<h1><%= @event.title %> 
    <%= @event.when.to_s%>
</h1>
<h3>Lutas Previstas</h3>

<table>
  <tr>
    <th>Categoria</th>
    <th>Red Corner</th>
    <th>   </th>
    <th>Blue Corner</th>
  </tr>
  <% @event.fights.each do |fight| %>
  <tr>
    <td><%= fight.category  %> </td>
    <td><%= fight.contender %> </td>
    <td> VS </td>
    <td><%= fight.challenger%> </td>
    <td>
   
      <% if logged_in? %>
      <%= link_to 'Remover Luta', fight,
                    :confirm => 'Apagar Luta, tem certeza?',
                    :method => :delete %> 
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% if logged_in? %>
  <%= render :partial => "fight_form" %>
<% end %>
