<div class="past_fight">
  <tr>
    <td><%= past_fights.category  %> </td>
    <td><%= past_fights.contender %> </td>
    <td> venceu </td>
    <td><%= past_fights.challenger%> </td>
    <td><%= past_fights.result.method %> </td>
    <td><%= past_fights.result.round %> </td>
  </tr>
</div>
