<h1>Proximas lutas</h1>

<table>
  <tr>
    <th>Categoria</th>
    <th>Red Corner</th>
    <th>   </th>
    <th>Blue Corner</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, event_path(event) if all_future_fights(event.fights).size > 0 %> </td>
    </tr>
        <% all_future_fights(event.fights).each do |fight| %>
        <tr>
          <td><%= fight.category  %> </td>
          <td><%= fight.contender %> </td>
          <td> VS </td>
          <td><%= fight.challenger%> </td>
        </tr>
        <% end %>
  <% end %>
</table>

<h3>Lutas Passadas</h3>
<table>
  <tr>
    <th>Categoria</th>
    <th>Red Corner</th>
    <th>   </th>
    <th>Blue Corner</th>
    <th><b>Vencedor</b></th>
    <th>Método</th>
    <th>Round</th>
  </tr>
  <%= render :partial => 'past_fights', :collection => all_past_fights(@fights) %>
</table>

