<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>FightBets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="flash"><%= flash[:error] %></p>
  <h1><%= link_to "FIGHT BETS", root_path %> </h1>
  <%= yield %>

  <h6>
    <% if logged_in? && current_user.username %>
      <%= "Você está logado como #{current_user.username}" %>
      <%= link_to "(logout)", logout_path %>
    <% else %>
      <%= link_to "(login)", login_path %> | <%= link_to "(cadastrar-se)", new_user_path %>
    <% end %>
  </h6>

<%= javascript_include_tag :defaults %>
</body>
</html>
