<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>FightBets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<h6>
  <% if logged_in? %>
    <%= "Logged in as #{current_user.username}" %>
    <%= link_to "(logout)", logout_path %>
  <% else %>
    <%= link_to "(login)", login_path %>
  <% end %>
</h6>

<%= javascript_include_tag "application" %>
</body>
</html>
